.fullScreenContainer {
	height: 100%;
	width: 100%;
	/*align-items: center;
	display: flex;*/
	/*inset: 0;*/ /* What is this? */
	/*justify-content: center;*/
	/*position: absolute;*/
}

.gameScreen {
	max-width: 300px;
	height: fit-content;
	/*transform: scale(var(--pixel-size));*/
	outline: 30px solid red;
	display: flex;
	flex-wrap: wrap;
}