.fullScreenContainer {
	height: 100%;
	width: 100%;
	padding: 32px;
	display: flex;
	flex-direction: column;
	/*align-items: center;
	display: flex;*/
	/*inset: 0;*/ /* What is this? */
	/*justify-content: center;*/
	/*position: absolute;*/
}

.gameScreen {
	/*max-width: 300px;*/
	height: fit-content;
	transform: scale(var(--pixel-size));
	transform-origin: top left;
	/*outline: 30px solid red;*/
	display: flex;
	flex-wrap: wrap;
}