/*@charset "UTF-8";*/

* {
	box-sizing: border-box;
}

@font-face {
		font-family: PixelFont;
		src: url(../public/Minecraft.ttf);
}
	

:root {
	--game-viewport-width: 176px;
	--game-viewport-height: 176px;
	--game-cell-size: 16px;
	--pixel-size: 1;
}

html, body {
	font-family: PixelFont;
	letter-spacing: 1.5px;
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

canvas {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

/* Scale up game art if we can fit it. 2x */
@media(min-width: 200px) {
	:root {
		--pixel-size: 2;
	}
}

/* 3x */
@media(min-width: 250px) {
	:root {
		--pixel-size: 3;
	}
}